.u-section-1 .u-sheet-1 {
  min-height: 596px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 576px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 16px 10px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  font-family: ADLaM Display;
  margin: 21px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-family: ADLaM Display;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-4 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-5 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  transition-duration: 4.25s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 44px auto 0;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-1 .u-icon-4 {
  height: 0;
}

.u-section-1 .u-icon-5 {
  height: 100%;
  color: rgb(0, 137, 203) !important;
}

.u-section-1 .u-image-1 {
  min-height: 576px;
  background-image: url("images/cuziamnoah-pb-fd-7-960x960.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 713px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 531px;
  }

  .u-section-1 .u-social-icons-1 {
    min-width: 42px;
    animation-duration: 10000ms;
  }

  .u-section-1 .u-image-1 {
    min-height: 531px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 593px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 15px;
  }

  .u-section-1 .u-image-1 {
    min-height: 407px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 890px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 369px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 493px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    min-height: 431px;
  }
}

.u-section-1 .u-social-icons-1,
.u-section-1 .u-social-icons-1:before,
.u-section-1 .u-social-icons-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-social-icons-1 {
  border-color: transparent !important;
}

.u-section-1 .u-social-icons-1.u-social-icons-1.u-social-icons-1:hover {
  transform: translateX(0px) translateY(-5px) scale(1) rotate(0deg) !important;
}

.u-section-1 .u-social-icons-1 {
  border-color: transparent !important;
}

.u-section-1 .u-social-icons-1.u-social-icons-1.u-social-icons-1.hover {
  transform: translateX(0px) translateY(-5px) scale(1) rotate(0deg) !important;
}

.u-section-1 .u-container-layout:hover .u-social-icons-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-social-icons-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-a09e-8:not([data-block-selected]):not([data-cell-selected]),
.u-block-a09e-8:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-a09e-8:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-a09e-8:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(px) scale(1) !important;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-block-a09e-8:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout.hover .u-block-a09e-8:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(px) scale(1) !important;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-block-a09e-8:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}.u-section-2 .u-sheet-1 {
  min-height: 27px;
}

.u-section-2 .u-line-1 {
  width: 912px;
  height: 0;
  margin: 13px auto;
}

@media (max-width: 991px) {
  .u-section-2 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-line-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 803px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.25rem;
  width: 735px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  margin: 42px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 4.5rem;
  width: 805px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  font-family: ADLaM Display;
  margin: 42px auto 0;
}

.u-section-3 .u-image-1 {
  width: 376px;
  height: 376px;
  background-image: url("images/44774606471.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px auto 0;
}

.u-section-3 .u-text-3 {
  line-height: 2;
  width: 813px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-family: ADLaM Display;
  margin: 20px auto;
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 767px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-3 .u-text-3 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 27px;
}

.u-section-4 .u-line-1 {
  width: 912px;
  height: 0;
  margin: 13px auto;
}

@media (max-width: 991px) {
  .u-section-4 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-line-1 {
    width: 340px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 348px;
}

.u-section-5 .u-text-1 {
  width: 802px;
  font-size: 1.875rem;
  font-family: ADLaM Display;
  margin: 7px auto 0;
}

.u-section-5 .u-text-2 {
  font-weight: 300;
  font-size: 1.25rem;
  font-style: italic;
  width: 802px;
  margin: 20px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 7px auto 7px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 239px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  font-size: 4.5rem;
  font-weight: 300;
  margin: 0;
}

.u-section-5 .u-text-4 {
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 239px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-5 {
  font-size: 4.5rem;
  font-weight: 300;
  margin: 0;
}

.u-section-5 .u-text-6 {
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 239px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-7 {
  font-size: 4.5rem;
  font-weight: 300;
  margin: 0;
}

.u-section-5 .u-text-8 {
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 239px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-text-9 {
  font-size: 4.5rem;
  font-weight: 300;
  margin: 0;
}

.u-section-5 .u-text-10 {
  font-weight: 300;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-5 .u-text-1 {
    font-weight: 400;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 197px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 197px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 197px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 197px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-5 .u-text-1 {
    width: 720px;
  }

  .u-section-5 .u-text-2 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 224px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 141px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 27px;
}

.u-section-6 .u-line-1 {
  width: 912px;
  height: 0;
  margin: 13px auto;
}

@media (max-width: 991px) {
  .u-section-6 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-line-1 {
    width: 340px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 635px;
}

.u-section-7 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  font-family: ADLaM Display;
  margin: 0 auto;
}

.u-section-7 .u-slider-1 {
  min-height: 532px;
  width: 471px;
  height: auto;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4);
  margin: 40px auto 10px;
}

.u-section-7 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 40px;
}

.u-section-7 .u-carousel-item-1 {
  background-image: linear-gradient(to right, #765fc5, #fd0250);
}

.u-section-7 .u-container-layout-1 {
  padding: 40px 80px 45px;
}

.u-section-7 .u-image-1 {
  width: 83px;
  height: 83px;
  background-image: url("images/mcpfp-craftingbenny-300x300.png");
  background-position: 50% 50%;
  transition-duration: 0.5s;
  margin: 0 auto;
}

.u-section-7 .u-text-2 {
  font-size: 1.0625rem;
  font-family: ADLaM Display;
  margin: 20px 0 0;
}

.u-section-7 .u-text-3 {
  width: 191px;
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-7 .u-text-4 {
  width: 136px;
  font-size: 1rem;
  margin: 15px auto 0;
}

.u-section-7 .u-carousel-item-2 {
  background-image: linear-gradient(to right, #fd0250, #765fc5);
}

.u-section-7 .u-container-layout-2 {
  padding: 40px 0;
}

.u-section-7 .u-image-2 {
  width: 83px;
  height: 83px;
  background-image: url("images/Owner-1.jpg");
  background-position: 50% 50%;
  transition-duration: 0.5s;
  margin: 61px auto 0;
}

.u-section-7 .u-text-5 {
  font-size: 1.0625rem;
  width: 311px;
  font-family: ADLaM Display;
  margin: 24px auto 0;
}

.u-section-7 .u-text-6 {
  width: 191px;
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-7 .u-text-7 {
  width: 136px;
  font-size: 1rem;
  margin: 15px auto 0;
}

.u-section-7 .u-carousel-item-3 {
  background-image: linear-gradient(#765fc5, #fd0250);
}

.u-section-7 .u-container-layout-3 {
  padding: 40px 80px 45px;
}

.u-section-7 .u-image-3 {
  width: 83px;
  height: 83px;
  background-image: url("images/603f04400d527e9384fd0287b52799f9c3b92322c8622e80a1cefce89865312e52e1c40aed7cf39d60fe9991fa51f46c7738fcb205bf4b5f0c178f_1280.png");
  background-position: 50% 50%;
  transition-duration: 0.5s;
  margin: 76px auto 0;
}

.u-section-7 .u-text-8 {
  font-size: 1.0625rem;
  font-family: ADLaM Display;
  margin: 40px 0 0;
}

.u-section-7 .u-text-9 {
  width: 191px;
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-7 .u-text-10 {
  width: 136px;
  font-size: 1rem;
  margin: 15px auto 0;
}

.u-section-7 .u-carousel-item-4 {
  background-image: linear-gradient(#765fc5, #fd0250);
}

.u-section-7 .u-container-layout-4 {
  padding: 40px 80px 45px;
}

.u-section-7 .u-image-4 {
  width: 83px;
  height: 83px;
  background-image: url("images/603f04400d527e9384fd0287b52799f9c3b92322c8622e80a1cefce89865312e52e1c40aed7cf39d60fe9991fa51f46c7738fcb205bf4b5f0c178f_1280.png");
  background-position: 50% 50%;
  transition-duration: 0.5s;
  margin: 76px auto 0;
}

.u-section-7 .u-text-11 {
  font-size: 1.0625rem;
  font-family: ADLaM Display;
  margin: 40px 0 0;
}

.u-section-7 .u-text-12 {
  width: 191px;
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-7 .u-text-13 {
  width: 136px;
  font-size: 1rem;
  margin: 15px auto 0;
}

.u-section-7 .u-carousel-control-1 {
  width: 56px;
  height: 56px;
  left: -85px;
  position: absolute;
  right: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 11px;
}

.u-section-7 .u-carousel-control-2 {
  width: 56px;
  height: 56px;
  left: auto;
  position: absolute;
  right: -80px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 11px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-7 .u-text-4 {
    font-weight: 400;
  }

  .u-section-7 .u-text-7 {
    font-weight: 400;
  }

  .u-section-7 .u-text-9 {
    font-family: Lobster, display;
  }

  .u-section-7 .u-text-10 {
    font-weight: 400;
  }

  .u-section-7 .u-text-12 {
    font-family: Lobster, display;
  }

  .u-section-7 .u-text-13 {
    font-weight: 400;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
  }

  .u-section-7 .u-slider-1 {
    min-height: 441px;
    width: 470px;
  }

  .u-section-7 .u-carousel-indicators-1 {
    bottom: 26px;
  }

  .u-section-7 .u-container-layout-1 {
    padding: 30px 60px 30px 50px;
  }

  .u-section-7 .u-container-layout-2 {
    padding: 30px 60px;
  }

  .u-section-7 .u-container-layout-3 {
    padding: 30px 60px 30px 50px;
  }

  .u-section-7 .u-container-layout-4 {
    padding: 30px 60px 30px 50px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 713px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-7 .u-slider-1 {
    min-height: 467px;
    width: 441px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 752px;
  }

  .u-section-7 .u-slider-1 {
    min-height: 529px;
    width: 259px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }
}

.u-section-7 .u-image-1,
.u-section-7 .u-image-1:before,
.u-section-7 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-7 .u-image-2,
.u-section-7 .u-image-2:before,
.u-section-7 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-7 .u-image-2.u-image-2.u-image-2:hover {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-7 .u-image-2.u-image-2.u-image-2.hover {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-7 .u-image-3,
.u-section-7 .u-image-3:before,
.u-section-7 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-7 .u-image-3.u-image-3.u-image-3:hover {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-7 .u-image-3.u-image-3.u-image-3.hover {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-7 .u-image-4,
.u-section-7 .u-image-4:before,
.u-section-7 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-7 .u-image-4.u-image-4.u-image-4:hover {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-7 .u-image-4.u-image-4.u-image-4.hover {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}.u-section-8 .u-sheet-1 {
  min-height: 27px;
}

.u-section-8 .u-line-1 {
  width: 912px;
  height: 0;
  margin: 13px auto;
}

@media (max-width: 991px) {
  .u-section-8 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-line-1 {
    width: 340px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 646px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 62px;
  margin-bottom: 22px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 562px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  font-family: ADLaM Display;
  margin: 70px auto 0 0;
}

.u-section-9 .u-text-2 {
  font-family: ADLaM Display;
  font-weight: 700;
  margin: 20px 178px 0 0;
}

.u-section-9 .u-group-1 {
  min-height: 260px;
  height: auto;
  width: 393px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: linear-gradient(to right, #fd0250, #765fc5);
  margin: 20px 117px 0 0;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-text-3 {
  font-weight: 700;
  font-family: ADLaM Display;
  margin: 45px auto 0;
}

.u-section-9 .u-text-4 {
  font-family: ADLaM Display;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 562px;
}

.u-section-9 .u-container-layout-3 {
  padding: 28px 30px;
}

.u-section-9 .u-form-1 {
  background-image: linear-gradient(to right, #765fc5, #fd0250);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: 497px;
  width: 510px;
  margin: 8px 0 -2px;
}

.u-section-9 .u-label-1 {
  font-family: ADLaM Display;
}

.u-section-9 .u-label-2 {
  font-family: ADLaM Display;
}

.u-section-9 .u-label-3 {
  font-family: ADLaM Display;
}

.u-section-9 .u-form-group-4 {
  margin-left: 0;
}

.u-section-9 .u-label-4 {
  font-family: ADLaM Display;
}

.u-section-9 .u-passive-icon-1 {
  display: none;
  height: 24px;
  width: 24px;
}

.u-section-9 .u-passive-icon-2 {
  display: none;
  height: 24px;
  width: 24px;
}

.u-section-9 .u-passive-icon-3 {
  display: none;
  height: 24px;
  width: 24px;
}

.u-section-9 .u-passive-icon-4 {
  display: inline;
  height: 24px;
  width: 24px;
}

.u-section-9 .u-passive-icon-5 {
  display: inline;
  height: 24px;
  width: 24px;
}

.u-section-9 .u-btn-1 {
  --radius: 30px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 463px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 78px;
  }

  .u-section-9 .u-group-1 {
    margin-right: 17px;
    height: auto;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 463px;
  }

  .u-section-9 .u-form-1 {
    width: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 556px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 39px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 0;
  }

  .u-section-9 .u-group-1 {
    width: 300px;
    margin-right: 0;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-form-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 492px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 0;
  }

  .u-section-9 .u-group-1 {
    width: 449px;
    margin-right: 71px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-group-1 {
    width: 320px;
    margin-right: 0;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 27px;
}

.u-section-10 .u-line-1 {
  width: 912px;
  height: 0;
  margin: 13px auto;
}

@media (max-width: 991px) {
  .u-section-10 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-line-1 {
    width: 340px;
  }
}